body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
     header {
        background-color: #3c71aa;
        color: white;
        padding: 20px;
        text-align: center;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    header img {
        border-radius: 40px;
        height: 90px;
    }

    nav {
        background-color: #354A5F;
        margin-left: auto;

    }
    nav ul {
        list-style: none;
        margin: 0;
        padding: 10px;
        display: flex;
        justify-content: center;
        padding-top: auto;
        z-index: 1000;
    }
    nav ul li {
        position: relative;
        margin: 0 15px;   
    }

    nav ul li a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        padding: 8px 12px;
        display: block;
    }
    nav ul li a:hover {
        background-color: rgb(54, 48, 90);
        border-radius: 5px;
    }
    nav ul li ul {
        display: none;
        position: absolute;
        top: 35px;
        left: 0;
        background-color: black;
        list-style: none;
        padding: 0;
        margin: 0;
        border-radius: 5px;
    }
    nav ul li ul li {
        margin: 0;
        width: 150px;
    }
    nav ul li ul li a {
        padding: 10px;
        font-weight: normal;
    }
    nav ul li:hover ul {
        display: block;
    }

    main section h1 {
        max-width:1100px;
        margin: 24px auto;
        padding: 0 16px;
        text-align: center;
    }
    main section h2 {
        display: block;
        width: fit-content;
        margin: 20px auto; 
        background-color: #f1f1f1;
        color: #000;
        padding: 8px 20px;
        border-radius: 8px;
        text-align: center;
    }
    .div_kegiatan { 
        display: flex;
        flex-wrap: wrap;
        gap: 18px;
        justify-content: center; 
        max-width: 1100px;       
        margin: 0 auto;    
    }      
    .article_kegiatan {
        flex: 1 1 320px;
        background:#f7f7f7;
        padding:16px;
        border-radius:8px;
        box-shadow:0 4px 10px rgba(0,0,0,0.08);
        text-align: center;
    }
    .article_kegiatan h3{
        margin-top:0;
    }
    .div_foto {
        justify-content: center;
        
        
    }
    .div_foto img {
        height:140px; 
        object-fit:cover; 
        border-radius:4px;
    }

    aside {
        background-color: #64aa36;
        padding: 20px;
        color: white;
        line-height: 20px;
        margin-bottom: 5px;
    }

    footer {
        background-color: #2C3D4F;
        color: white;
        padding: 15px;
        text-align: center;
    }

    .sumber {
        font-size: 9px;
        color: grey;
        margin-top:8px;
    }